body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-outline-white {
  -webkit-text-stroke: .1px #e5e7eb;
}
.text-outline-red {
  -webkit-text-stroke: .1px rgb(239 68 68);
}
.text-outline-black {
  -webkit-text-stroke: .3px black;
}
